.header{
  background-color: grey;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 body{
  background-color: white;
 }
.App{
  background-color: #3f3160;
  min-height: 600px;
  width: 500px;
  margin: 40px auto;
}
#addNew form{
  align-self: center;
}
#addNew input{
  background-color: violet;
  border:0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color:white;
}

#addNew button{
  background-color: grey;
  border:0;
  width: 80px;
  height: 50px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bolder;
  color:white;
}

#addNew input:focus{
  outline: none;
}

#addNew input::placeholder{
  color: black;
}

#addNew button:focus{
  outline: none;
}


.loader{
    margin: auto;
    border:16px solid #f3f3f3;
    border-radius:50%;
    border-top:16px solid #3498db;
    width:80px;
    height:80px;
    animation: spin 2s linear infinite;
  }

    @keyframes spin {
      0% {transform: rotate(0deg);}
      100% {transform: rotate(360deg);}
    }


.card {
  
  
  border-style: solid;
  border-width:1px;
  border-color: grey;
  margin: auto;
  padding: 20px 20px 20px 20px;
  text-align: center;
  color: pink;
  position: relative;
  
}
.card input{
  background-color: transparent;
  border:0;
  color: white;
  font-size: 18px;
  margin-left: 3px;
  

}
.card input:focus{
  outline:none;
}
.card button{
  position: absolute;
  top: 2;
  border-radius: 5px;
  right: 0px;
  z-index: 2;
  border:none;
  top:2px;
  height: 30px;
  cursor: pointer;
  color:white;
  background-color: #1e90ff;
  transform: translateX(2px);
}

.button{
  
  background-color: green;
  color: white;
  border-style: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.content {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.footer {
  background-color: grey;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
